.bg_img {
  --background: url("/assets/loginbgg.png") 0 0/100% 100% no-repeat;
}

/*= input focus effects css
=========================== */
:focus {
  outline: none;
}

.col-3 {
  float: center;
  width: 85%;
  margin: 8%;
  position: relative;
}

/* necessary to give position: relative to parent. */
input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}


input[type="password"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}




.effect-19,
.effect-20,
.effect-21 {
  border: 1px solid #ccc;
  padding: 7px 14px;
  transition: 0.4s;
  background: transparent;
}

.effect-19~.focus-border:before,
.effect-19~.focus-border:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s;
}

.effect-19~.focus-border:after {
  top: auto;
  bottom: 0;
}

.effect-19~.focus-border i:before,
.effect-19~.focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #3399FF;
  transition: 0.6s;
}

.effect-19~.focus-border i:after {
  left: auto;
  right: 0;
}

.effect-19:focus~.focus-border:before,
.effect-19:focus~.focus-border:after,
.has-content.effect-19~.focus-border:before,
.has-content.effect-19~.focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}

.effect-19:focus~.focus-border i:before,
.effect-19:focus~.focus-border i:after,
.has-content.effect-19~.focus-border i:before,
.has-content.effect-19~.focus-border i:after {
  top: -1px;
  height: 100%;
  transition: 0.6s;
}

.effect-19~label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-19:focus~label,
.has-content.effect-19~label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #3399FF;
  transition: 0.3s;
}

.effect-20~.focus-border:before,
.effect-20~.focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.3s;
}

.shake-horizontal {
  animation: shake-horizontal 5s cubic-bezier(.45, .045, .475, .19) 10 both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-26 16:58:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes shake-horizontal {

  0%,
  100% {
    transform: translateX(0)
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px)
  }

  20%,
  40%,
  60% {
    transform: translateX(10px)
  }

  80% {
    transform: translateX(8px)
  }

  90% {
    transform: translateX(-8px)
  }
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-7 12:5:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out
  }

  10% {
    transform: scale(.91);
    animation-timing-function: ease-in
  }

  17% {
    transform: scale(.98);
    animation-timing-function: ease-out
  }

  33% {
    transform: scale(.87);
    animation-timing-function: ease-in
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out
  }
}
