<div class="flex justify-between bg-red-600 p-4">
  <div routerLink="/dashboard">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-600 bg-white rounded-lg" viewBox="0 0 20 20"
      fill="currentColor" routerLink="/dashboard">
      <path fill-rule="evenodd"
        d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z"
        clip-rule="evenodd" />
    </svg>
  </div>
  <div>
    <ion-title class="text-white text-center  mr-8">Destination </ion-title>
  </div>
  <div routerLink="/notification">
    <select>
      <option selected value="0" class="text-sm">Myself</option>
      <option value="1">Other</option>
    </select>
    <!-- <ion-item class="rounded-lg h-10">
      <ion-label>
        <ion-icon name="person"></ion-icon>&nbsp;Myself
      </ion-label>
      <ion-select interface="popover">
        <ion-select-option value="nes">Myself</ion-select-option>
        <ion-select-option value="n64">Other</ion-select-option>
      </ion-select>
    </ion-item> -->
  </div>
</div>

<ion-content>


  <ion-card class="bg-white p-5">
    <div class="flex justify-between ">
      <div>
        <ion-label class="text-black text-sm">
          <ion-icon class="text-sm" style="color: green;" name="ellipse"></ion-icon>&nbsp; Dastur Nagar, Amravati
        </ion-label>
      </div>
      <div>
        <ion-icon name="close"></ion-icon>
      </div>
    </div><br>

    <div class="flex justify-between ">
      <ion-label class="text-black text-sm">
        <ion-input placeholder="Enter Destination">
          <ion-icon class="text-sm" style="color: red;" name="ellipse"></ion-icon>
        </ion-input>
      </ion-label>
    </div>
  </ion-card>

  <div class="flex justify-start pl-4 pt-1">
    <ion-label class="text-black"><b>Popular Places</b></ion-label>
  </div>

  <div class="flex justify-start p-4 border-b-2 border-gray-200">
    <div>
      <ion-icon name="location"></ion-icon> Badnera Railway Station
    </div>
  </div>

  <div class="flex justify-start p-4 border-b-2 border-gray-200">
    <div>
      <ion-icon name="location"></ion-icon> Amravati Bus Stand
    </div>
  </div>

  <div class="flex justify-start p-4 border-b-2 border-gray-200">
    <div>
      <ion-icon name="location"></ion-icon> Amravati Railway Station
    </div>
  </div>


  <div class="p-5" routerLink="/bookauto">
    <ion-button expand="block" color="danger">
      Confirm Location
    </ion-button>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="location" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-label color="primary"><b>ContactUs</b></ion-label>
    </ion-fab-list>
  </ion-fab>

</ion-content>
