<ion-fab horizontal="start" vertical="top" slot="fixed" routerLink="/request">
  <ion-fab-button color="danger">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-content class="bg">
  <div style="margin-top: 118%;" class="bg-white p-5 rounded-tr-3xl rounded-tl-3xl z-10">
      <div class="flex justify-between hover:bg-gray-200 border-b-2 border-gray-300 p-1">
        <div>
          <ion-icon class="text-3xl text-black" name="car"></ion-icon>
        </div>
        <div class="flex flex-grow ml-2">
        <span>
          <b>Just Go</b>
          <p class="text-gray-500">Near by you</p>
        </span>
        </div>
        <div>
          <span>
            <b>₹50.00</b>
            <p class="text-gray-500">20 min</p>
          </span>
        </div>
      </div><br>

      <div class="flex justify-between hover:bg-gray-200 border-b-2 border-gray-300 p-1">
        <div>
          <ion-icon class="text-3xl text-black" name="car"></ion-icon>
        </div>
        <div class="flex flex-grow ml-2">
        <span>
          <b>Auto 4 seat</b>
          <p class="text-gray-500">2 km</p>
        </span>
        </div>
        <div>
          <span>
            <b>₹50.00</b>
            <p class="text-gray-500">20 min</p>
          </span>
        </div>
      </div><br>

      <div class="flex justify-between hover:bg-gray-200 border-b-2 border-gray-300 p-1">
        <div>
          <ion-icon class="text-3xl text-black" name="car"></ion-icon>
        </div>
        <div class="flex flex-grow ml-2">
        <span>
          <b>Auto 6 seat</b>
          <p class="text-gray-500">4 km</p>
        </span>
        </div>
        <div>
          <span>
            <b>₹50.00</b>
            <p class="text-gray-500">20 min</p>
          </span>
        </div>
      </div><br>

      <div class="flex justify-between hover:bg-gray-200 border-b-2 border-gray-300 p-1">
        <div>
          <ion-icon class="text-3xl text-black" name="car"></ion-icon>
        </div>
        <div class="flex flex-grow ml-2">
        <span>
          <b>Auto 4 seat</b>
          <p class="text-gray-500">15 km</p>
        </span>
        </div>
        <div>
          <span>
            <b>₹50.00</b>
            <p class="text-gray-500">20 min</p>
          </span>
        </div>
      </div><br>

      <div class="flex justify-between hover:bg-gray-200 border-b-2 border-gray-300 p-1">
        <div>
          <ion-icon class="text-3xl text-black" name="car"></ion-icon>
        </div>
        <div class="flex flex-grow ml-2">
        <span>
          <b>Auto 6 seat</b>
          <p class="text-gray-500">20 km</p>
        </span>
        </div>
        <div>
          <span>
            <b>₹50.00</b>
            <p class="text-gray-500">20 min</p>
          </span>
        </div>
      </div><br>

      <div class="flex justify-between hover:bg-gray-200 border-b-2 border-gray-300 p-1">
        <div>
          <ion-icon class="text-3xl text-black" name="car"></ion-icon>
        </div>
        <div class="flex flex-grow ml-2">
        <span>
          <b>Auto 10 seat</b>
          <p class="text-gray-500">22 km</p>
        </span>
        </div>
        <div>
          <span>
            <b>₹50.00</b>
            <p class="text-gray-500">20 min</p>
          </span>
        </div>
      </div><br>

     
<!-- 
      <div>
        <ion-button expand="block" color="danger">
         Request
        </ion-button>
      </div> -->
  </div>
</ion-content>


