<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="p-8" align="center" style="margin-top: 30%;">
    <img src="assets/Mytatoz Logo Png.png" width="50%" height="50%" alt="">
  </div>

  <div class="col-3 input-effect">
    <input class="effect-19" type="text" placeholder="Email">
    <!-- <label>Email</label> -->
    <span class="focus-border">
      <i></i>
    </span>
  </div>

  <div class="col-3 input-effect">
    <input class="effect-19" type="text" placeholder="New Password">
    <!-- <label>New Password</label> -->
    <span class="focus-border">
      <i></i>
    </span>
  </div>

  <div class="col-3 input-effect">
    <input class="effect-19" type="text" placeholder="Confirm Password">
    <!-- <label>Confirm Password</label> -->
    <span class="focus-border">
      <i></i>
    </span>
  </div>


  <div class="p-7">
    <ion-button expand="block" color="danger">
      Forgot Password
    </ion-button>
  </div>

</ion-content>


<!-- <ion-content>
  <div class="pt-10" align="center">
    <ion-label class="text-2xl"><b>SignIn</b></ion-label>
  </div>
   <form class="rounded px-8 pt-6 pb-8 mb-4">
     <div class="mb-4">
       <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
         User Id
       </label>
       <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="userid">
     </div>
     <div class="mb-6">
       <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
         Password
       </label>
       <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
     
     </div>
     <div class="flex items-center justify-between">
       <button class="bg-red-500 hover:bg-red-600 text-white w-full font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
         Submit
       </button>
     </div>
   </form>


 <ion-fab horizontal="end" vertical="bottom" slot="fixed">
   <ion-fab-button color="danger">
     <ion-icon name="location" ios="chevron-back-circle-outline"></ion-icon>
   </ion-fab-button>
   <ion-fab-list side="start">
     <ion-label class="text-red-600"><b>ContactUs</b></ion-label>
   </ion-fab-list>
 </ion-fab>

</ion-content> -->
